<% include ./partials/header.ejs %>

<div class="bg-slate-100 h-fit w-full px-40 py-12 ">
  <h1 class="font-bold text-4xl my-5">About Us</h1>
  <p class="text-base">Welcome to PicQuest, the next generation social media platform designed for photo enthusiasts and casual users alike. Our mission is to create a vibrant community where you can easily upload, share, and explore stunning images from around the world. With a user-friendly interface, powerful photo-uploading capabilities, and an engaging feed, PicQuest offers a seamless experience that keeps you connected with friends and followers.</p>
  <p class="text-base my-4">At PicQuest, we believe that every picture tells a story, and we're here to help you share yours. Whether you're a professional photographer looking to showcase your portfolio, a hobbyist capturing everyday moments, or simply someone who enjoys viewing beautiful photos, our platform is the perfect place for you. Upload your images effortlessly, create captivating posts with descriptions and titles, and let your creativity shine.</p>
  <p class="text-base my-4">Our platform features a dynamic feed where you can explore and discover photos from users all over the globe. Follow your favorite photographers, engage with their content, and build your network by connecting with like-minded individuals. The diversity and richness of our community's content ensure that there's always something new and inspiring to see.</p>
  <p class="text-base my-4">Privacy and security are paramount at PicQuest. We provide robust privacy settings and options to control who can see your posts, ensuring that you have a safe and enjoyable experience. Our dedicated team is constantly working to enhance the platform, introduce new features, and address any issues, making sure that your experience is nothing short of exceptional.</p>
  <p class="text-base pb-12">Join us at PicQuest and be a part of a growing community that celebrates the beauty of visual storytelling. Whether you're here to share your work, seek inspiration, or connect with others, PicQuest is your go-to destination for all things photography. Let's create, share, and explore together.</p>
</div>

<% include ./partials/footer.ejs %>