<% include ./partials/header.ejs %>

<div class="bg-[url('https://images.unsplash.com/photo-1509114397022-ed747cca3f65?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-bottom flex items-center justify-center w-full h-screen">
  <div class="w-[600px] bg-white flex flex-col items-center py-2 my-4 rounded-xl px-6 ">
   <img src="https://img.icons8.com/?size=480&id=63676&format=png" alt="pinterest" class="w-12">
   <h1 class="capitalize text-xl my-1 font-semibold tracking-tight">Join Our PicQuest Community</h1>
   <form action="/register" method="post" class="">
    <label for="name" class="flex flex-col text-xs px-2 mb-1 ">Full Name</label>
     <input name="name" type="text" placeholder="Full Name" class="text-base  px-6 pr-24 mb-2 py-2  rounded-2xl border border-1 border-slate-900 ">
    <label for="username" class="flex flex-col text-xs px-2 mt-1 ">Username</label>
     <input name="username" type="text" placeholder="Username" class="text-base  px-6 pr-24 mb-1 py-2  rounded-2xl border border-1 border-slate-900 ">
     <label for="email" class="flex flex-col text-xs px-2  mt-1 ">Email address</label>
     <input name="email" type="text" placeholder="Email" class="text-base px-6 pr-24 mb-1 py-2  rounded-2xl border border-1 border-slate-900 ">
     <label for="contact" class="flex flex-col text-xs px-2  mt-1 ">Contact</label>
     <input name="contact" type="text" placeholder="Contact" class="text-base px-6 pr-24 mb-1 py-2  rounded-2xl border border-1 border-slate-900 ">
     <label for="password" class="flex flex-col text-xs px-2 ">Password</label>
     <input name="password" type="password" placeholder="Password" class="text-base px-6 pr-24 py-2 rounded-2xl border border-1 border-slate-900 ">
    <button class="block bg-[#E60023] text-white font-semibold text-base px-24 py-2 my-3 text-center mx-auto  rounded-full hover:bg-[#c40320] transition-duration-200">Create Account</button>
   </form>
   <p class=" text-xs text-center text-slate-500">By continuing, you agree to Pinterest's <span class="font-bold text-black">Terms of Service</span> and acknowledge you've read our <span class="font-bold text-black">Privacy Policy. Notice at collection.</span></p>
   <hr class="w-28 border-[1px] rounded-xl my-2">
   <p class="text-sm text-center ">Already have an account? <a class="underline underline-offset-2 decoration-solid font-semibold" href="/login">Login</a></p>
  </div>
  
 </div>

<% include ./partials/footer.ejs %>

